<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JINJA-Example</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div>
        <h1>Flask/Jinja Example</h1>
        <p>Refresh the page to get a random number everytime !</p>
    </div>
    <div class="NUM">
        <h1>Random Number</h1>
        <h2>{{ num }}</h1>
    </div>
    <div class="copyright">
        <footer>
            <p>Copyright {{ year }}. Built by Budhiman.ai</p>
        </footer>
    </div>
</body>
</html>