body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#header h1 {
    text-align: center;
    font-weight: bold;
    color: goldenrod;
}

#header p {
    text-align: center;
    font-weight: bold;
    color: black;
}

.list01 {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.list01 > ol > ul {
    color: green;
}

.list02 {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.links > ul > li > a[href$="linked_page.html"] {
    color: green;
}

table {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}
